/* CSS styles for the checkout cart page */
		body {
			background-color: rgb(255, 223, 223);
			color: rgb(43, 39, 39);
			font-family: Arial;
		}

		table {
			border-collapse: collapse;
			width: 100%;
		}

		th, td {
			text-align: left;
			padding: 8px;
			border-bottom: 1px solid rgb(11, 10, 10);
		}

		tr:hover {
			background-color: #b99696;
		}

		.total {
			font-weight: bold;
		}

		.item-photo {
			width: 50px;
			height: 50px;
			object-fit: contain;
			margin-right: 10px;
		}

		.item-name {
			font-style: italic;
		}

		button {
			background-color: lightpink;
			color: white;
			font-weight: bold;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			display: block;
			margin: 0 auto;
		}
