body {
    background-color: black !important;
    color: white !important;
}

.mode-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    bottom: 40px;
    left: 40px;
    background-color: white;
    color: white;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
    z-index: 1000;
}