body {

    font-family: Arial, sans-serif;
}

#container {
    padding: 4vw 4vw 4vw 4vw;
}

.secondtitlebox {
    text-align: center;
    margin: 40px 0;
}

#imgs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.imgbox {
    width: 30%;
}

.imgbox img,
.imgblur {
    width: 20vw;
    border-radius: 20px;
}

.imgblur {
    opacity: 60%;
    border: 3px solid black;
}

#tabbedimg {
    border: 3px solid rgb(157, 214, 157);
}

#maintxt {
    padding-left: 200px;
    padding-right: 200px;
    font-weight: 200;
}

.boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    flex: 1;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    width: 70vw;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 1vw;
    border-radius: 15px;
}

.marketplace-title {
    font-family: "Agrandir Variable";
    font-size: 18pt;
    text-align: center;
}

.marketplace-headings {
    font-family: "Agrandir Variable";
    font-size: 20pt;
    line-height: 0%;
}

@media (max-width: 768px) {
    .boxes-container {
        flex-direction: column;
    }
}

.compete {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.competitors {
    position: relative;
    width: 20vw;
    height: 19.5vw;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    transition: 1s;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
}

#ball2 {
    background-image: url("ball2.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: -10px 0px;
}

#nightcap {
    background-image: url("nightcap.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: -10px 0px;
}

#tabbedlogo {
    background-image: url("tabbed_logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #FFFDF5 !important;
}

hr {
    width: 90%;
}

#cashflow {
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    width: 70vw;
    height: 57vw;
    background-image: url("cashflowprojection.png");
    background-size: 100%;
    margin-bottom: 50px;
}

#financialplan {
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    width: 70vw;
    height: 47vw;
    background-image: url("financialplan.png");
    background-size: 100%;
    margin-bottom: 50px;
}