.problem {
    text-align: left;
    background-color: #222222;
    color: #FFFDF5;
    padding: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.solution {
    text-align: center;
    background-color: #FFFDF5;
    color: black;
    padding: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.problem-title {
    text-align: left;
    font-family: "Agrandir Variable";
    font-style: italic;
    font-weight: 617;
    font-size: 3vw;
    line-height: 100%;
    color: #FFFDF5;

}

.tabbed-title {
    font-size: 4vh;
    text-align: center;
    font-family: "Agrandir Variable";

}

.solution-title {
    text-align: center;
    float: left;
    font-family: "Agrandir Variable";
    font-style: italic;
    font-weight: 617;
    font-size: 3vw;
    line-height: 100%;

}

.problem-context {
    font-size: 3vh;
    font-family: "Agrandir Variable";
}

.solution-context {
    text-align: left;
    font-size: 2.5vh;
    font-family: "Agrandir Variable";
}