body {
    background-color: #FFFDF5;
    color: #222222;
    font-family: "Object Sans";
    padding: 0;
    margin: 0;

    text-transform: uppercase;

    overflow-x: hidden;

}

h1 {
    font-weight: 600;
    font-size: 64pt;
    margin: 0;
}

h2 {
    font-style: normal;
    font-weight: 469;
    font-family: "Agrandir Variable";
    font-size: 2vw;
    margin: 0;
}

h3 {
    font-weight: 400;
    font-size: 2vw;
    text-transform: uppercase;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited { 
    text-decoration: none; 
}   

a:hover {
    text-decoration: underline;
}

a.navbar {
    color: #222222; 
}

@font-face {
    font-family: "Object Sans";
    font-weight:300;
    src: url(PPObjectSans-Thin.woff2);
}

@font-face {
    font-family: "Object Sans";
    font-weight:400;
    src: url(PPObjectSans-Regular.woff2);
}

@font-face {
    font-family: "Object Sans";
    font-weight:600;
    src: url(PPObjectSans-Bold.woff2);
}

@font-face {
    font-family: "Object Sans";
    font-weight:700;
    src: url(PPObjectSans-Heavy.woff2);
}

@font-face {
    font-family: "Agrandir Variable";
    src: url(fonts/PPAgrandir-Variable.ttf);
}


#hero-section {
    height: 100vh;
    text-align: right;
    margin-bottom: 4vw;
}

.hero-wrapper {
    padding: 8vw;
}

.hero-text-wrapper {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4vw;
    text-align: left;
}

.hero-img {
    width: 50%;
    border-radius: 25px;
}

.hero-title {
    font-family: "Agrandir Variable";
    font-style: italic;
    font-weight: 617;
    font-size: 8vw;
    line-height: 100%;
    text-align: left;
}

.hero-subtitle {
    font-family: "Object Sans";
    font-weight: 400;
    font-size: 2vw;
    padding-bottom: 1vw;
}

.learn-more-button {
    display: inline-block;
    background: #222222;
    border-radius: 50px;
    color: white;
    padding: 1vw 2vw 1vw 2vw;

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2vw;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-item {
    text-align: center;
    justify-content: center;
    font-family: "Object Sans";
    font-weight: 400;
    color: #222222;
    opacity: 100%;
    padding-left: 8px;
    padding-right: 8px;
    /* mix-blend-mode: difference; */
}

.nav-item.active {
    opacity: 50%;
}

.nav-left {
    text-align: left;
}

.nav-right {
    text-align: right;
}

.tabbed-logo {
    width: 6.5vw;
}

.footer {
    color: #FFFDF5;
}

#newsletter-wrapper{
    height: 80vh;
    background-color: #101010;;
    padding: 0 65vw 0 8vw;
    justify-content: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.newsletter-text-wrapper {
    display: flex;
    justify-content: space-between;
}

#newsletter-text {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20pt;
}

.newsletter-button-wrapper {
    display: flex;
    justify-content: left;
    
}

.newsletter-button {
    width: 100%;
}

.newsletter-button-text {
    background-color: #101010;
    border: none;
    padding: 0;
    font-size: 16pt;
    font-weight: 300;
}

.container {
    display: flex;
    align-items: center;
}

.logo-space {
width: 200px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}

.arrow {
    opacity: 0.5;
}

.hr-transparent {
    opacity: 0.5;
}

.essentials-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.year {
    font-weight: 400;
    font-size: 1vw;
}

.essentials-title {
    font-family: "Agrandir Variable";
    font-size: 2vw;
    padding-bottom: 1vw;
}

.essentials-wrapper {
    width: 100vw;
    margin-left: 4vw;

}

.gallery-wrapper {
    height: 50vh;
    display: flex;
    gap: 1vw;
    overflow: auto;
    white-space: nowrap;
}


.gallery-img {
    height: 100%;
    width: 25vw;
    border-radius: 25px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 135, 135, 0.5) 63.54%, #EA6161 100%), url("Screen Shot 2023-04-03 at 4.35.png");
    background-blend-mode: multiply, normal;
}


#footer-ip {
    padding: 2vw;
    text-align: right;
    background-color: #101010;
    color: #FFFDF5;
}

.lil-links {
    padding-left: 1vw;
    color: #FFFDF5;
}

.flavors-item {
    width: max-content;
}

.flavors-item-image-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 400px;
    pointer-events: none;
    opacity: 0;
}

.flavors-item-image-inner .flavors-item-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.flavors-item-text {
    position: relative;
    font-family: "Agrandir Variable";
    font-style: italic;
    font-weight: 617;
    text-transform: uppercase;
    font-size: 8vw;
    line-height: 1;
    transition: opacity 350ms ease;
    white-space: nowrap;
    cursor: pointer;
}

.flavors-item-image-wrapper {
    z-index: -2;
}

.flavors-item:hover #lavender {
    color: #B6ABD8;
}

.flavors-item:hover #grapefruit {
    color: #F2A5A0;
}

.flavors-item:hover #cherry {
    color: #DE6262;
}

.flavors-item:hover #mango {
    color: #FFC38C;
}

.flavors-item:hover #citrus {
    color: #CCE18F;
}
/* Media query phone */
@media (max-width: 767px) {
    


}